
<script type="text/javascript">
	$(document).ready(function() {
		$("#opts").change(function() {
			if($("#opts").val() == ("Phone Number")) {
				$("#ap").append('<div id="phn"><select id ="phn" name="contact_info[display_name]"><option>Personal</option><option >Home</option><option >Custom</option></select> <input type ="text" id="ad" name="contact_info[data]"></input>' + '<a href="#" class="remove1" id="rm" >Remove</a></div>');
			}
			if($("#opts").val() == ("Address")) {
				$("#ap").append('<div id= "add"><select id ="add" name ="contact_info[display_name]"><option>Home Address</option><option >Work Address</option><option >Custom</option></select><textarea rows="2" cols="20" name="contact_info[data]"></textarea>' + '<a href="#" class="remove2" id="rm" >Remove</a></div>');
			}
			if($("#opts").val() == ("Date")) {
				$("#ap").append('<div id ="date"><select id ="date" name="contact_info[display_name]"><option>Birthday</option><option >Anniversary</option><option >Custom</option></select> <input type ="text" id="datepic" name="contact_info[data]"></input>' + '<a href="#" class="remove3"  id="rm" >Remove</a></div>');
			}
			if($("#opts").val() == ("Email")) {
				$("#ap").append('<div id ="email"><select id ="email" name="contact_info[display_name]"><option>Home Email</option><option >Work Email</option><option >Custom Email</option></select> <input type ="text" name="contact_info[data]"></input>' + '<a href="#" class="remove4" id="rm" >Remove</a></div>');
			}
			if($("#opts").val() == ("Link")) {
				$("#ap").append('<div id="link"><select id ="link" name="contact_info[display_name]"><option>Profle</option><option >Blog</option><option>Homepage</option><option>Custom</option></select> <input type ="text " name="contact_info[data]"></input>' + '<a href="#" class="remove5" id="rm" >Remove</a></div>');
			}
		});
		$('.remove1').live('click', function() {
			$("#phn").remove();
			return false;
		});
		$('.remove2').live('click', function() {
			$("#add").remove();
			return false;
		});
		$('.remove3').live('click', function() {
			$("#date").remove();
			return false;
		});
		$('.remove4').live('click', function() {
			$("#email").remove();
			return false;
		});
		$('.remove5').live('click', function() {
			$("#link").remove();
			return false;
		});
		$("#datepic").datetimepicker({
			dateFormat : 'dd-mm-yy',
			ampm : true
		});
	});

</script>
<%= form_for :contact_infos, :url => :contact_infos do%>
<input type="hidden" name="client_info[client_id]" />
<select id="opts" name="contact_info[nature]">
	<option value = "0">Select Option</option>
	<option value = "Phone Number">Phone Number</option>
	<option value = "Address">Address</option>
	<option value = "Date">Date</option>
	<option value = "Email">Email</option>
	<option value = "Link">Link</option>
</select>
<div id="ap">
	<br />
</div>
<div class="actions">
	<input disabled="false" id ="sub" class="btn primary" name="commit" type="submit" value="Add Information"/>
	<a href="/clients" class="btn">Cancel</a>
</div>
<%end%>